XSD/Conditions.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:itsgml="https://raw.githubusercontent.com/jetgeo/ITSGML/master/XSD" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/ITSGML/master/XSD" version="2018-01">
  <include schemaLocation="itsgml.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AreaCondition" substitutionGroup="itsgml:Condition" type="itsgml:AreaConditionType"/>
  <complexType name="AreaConditionType">
    <complexContent>
      <extension base="itsgml:ConditionType">
        <sequence>
          <element name="areaType" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AreaConditionPropertyType">
    <sequence>
      <element ref="itsgml:AreaCondition"/>
    </sequence>
  </complexType>
  <element name="CarriagewaySpecificCondition" substitutionGroup="itsgml:Condition" type="itsgml:CarriagewaySpecificConditionType"/>
  <complexType name="CarriagewaySpecificConditionType">
    <complexContent>
      <extension base="itsgml:ConditionType">
        <sequence>
          <element minOccurs="0" name="type"/>
          <element minOccurs="0" name="trafficFlow"/>
          <element minOccurs="0" name="relativeReferenceDirection"/>
          <element minOccurs="0" name="carriageWayNumber" type="integer"/>
          <element minOccurs="0" name="numberOfTrafficLanes" type="integer"/>
          <element minOccurs="0" name="numberOfLanes" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="lane" type="itsgml:LaneSpecificConditionPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CarriagewaySpecificConditionPropertyType">
    <sequence>
      <element ref="itsgml:CarriagewaySpecificCondition"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Condition" substitutionGroup="gml:AbstractObject" type="itsgml:ConditionType"/>
  <complexType abstract="true" name="ConditionType">
    <sequence>
      <element minOccurs="0" name="negate" type="boolean"/>
    </sequence>
  </complexType>
  <complexType name="ConditionPropertyType">
    <sequence>
      <element ref="itsgml:Condition"/>
    </sequence>
  </complexType>
  <element name="ConditionSet" substitutionGroup="itsgml:Condition" type="itsgml:ConditionSetType"/>
  <complexType name="ConditionSetType">
    <complexContent>
      <extension base="itsgml:ConditionType">
        <sequence>
          <element name="operator"/>
          <element maxOccurs="unbounded" name="conditions" type="itsgml:ConditionPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConditionSetPropertyType">
    <sequence>
      <element ref="itsgml:ConditionSet"/>
    </sequence>
  </complexType>
  <element name="DayWeekMonth" substitutionGroup="gml:AbstractObject" type="itsgml:DayWeekMonthType"/>
  <complexType name="DayWeekMonthType">
    <sequence>
      <element maxOccurs="7" minOccurs="0" name="applicableDay"/>
      <element maxOccurs="5" minOccurs="0" name="applicableWeek"/>
      <element maxOccurs="12" minOccurs="0" name="applicableMonth"/>
    </sequence>
  </complexType>
  <complexType name="DayWeekMonthPropertyType">
    <sequence>
      <element ref="itsgml:DayWeekMonth"/>
    </sequence>
  </complexType>
  <element name="Emissions" substitutionGroup="gml:AbstractObject" type="itsgml:EmissionsType"/>
  <complexType name="EmissionsType">
    <sequence>
      <element minOccurs="0" name="emissionClassificationEuro" type="gml:CodeType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="emissionClassificationOther" type="string"/>
      <element minOccurs="0" name="emissionLevel" type="gml:CodeType"/>
    </sequence>
  </complexType>
  <complexType name="EmissionsPropertyType">
    <sequence>
      <element ref="itsgml:Emissions"/>
    </sequence>
  </complexType>
  <element name="FuzzyTimePeriod" substitutionGroup="gml:AbstractObject" type="itsgml:FuzzyTimePeriodType">
    <annotation>
      <documentation>Time described with a fuzzy time.
[EuroRoadS]</documentation>
    </annotation>
  </element>
  <complexType name="FuzzyTimePeriodType">
    <sequence>
      <element name="beginOrDuration" type="gml:CodeType">
        <annotation>
          <documentation>time period begins with a fuzzy time or the duration is a fuzzy time
[EuroRoadS]</documentation>
        </annotation>
      </element>
      <element name="endOrDuration" type="gml:CodeType">
        <annotation>
          <documentation>time period ends with a fuzzy time or the duration is a fuzzy time
[EuroRoadS]</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FuzzyTimePeriodPropertyType">
    <sequence>
      <element ref="itsgml:FuzzyTimePeriod"/>
    </sequence>
  </complexType>
  <element name="GrossWeightCharacteristic" substitutionGroup="gml:AbstractObject" type="itsgml:GrossWeightCharacteristicType"/>
  <complexType name="GrossWeightCharacteristicType">
    <sequence>
      <element name="comparisonOperator"/>
      <element name="grossVehicleWeight" type="gml:MeasureType"/>
      <element name="typeOfWeight" type="gml:CodeType"/>
    </sequence>
  </complexType>
  <complexType name="GrossWeightCharacteristicPropertyType">
    <sequence>
      <element ref="itsgml:GrossWeightCharacteristic"/>
    </sequence>
  </complexType>
  <element name="HeaviestAxleWeightCharacteristic" substitutionGroup="gml:AbstractObject" type="itsgml:HeaviestAxleWeightCharacteristicType"/>
  <complexType name="HeaviestAxleWeightCharacteristicType">
    <sequence>
      <element name="comparisonOperator"/>
      <element name="heaviestAxleWeight" type="gml:MeasureType"/>
    </sequence>
  </complexType>
  <complexType name="HeaviestAxleWeightCharacteristicPropertyType">
    <sequence>
      <element ref="itsgml:HeaviestAxleWeightCharacteristic"/>
    </sequence>
  </complexType>
  <element name="HeightCharacteristic" substitutionGroup="gml:AbstractObject" type="itsgml:HeightCharacteristicType"/>
  <complexType name="HeightCharacteristicType">
    <sequence>
      <element name="comparisonOperator"/>
      <element name="vehicleHeight" type="gml:MeasureType"/>
    </sequence>
  </complexType>
  <complexType name="HeightCharacteristicPropertyType">
    <sequence>
      <element ref="itsgml:HeightCharacteristic"/>
    </sequence>
  </complexType>
  <element name="LaneSpecificCondition" substitutionGroup="itsgml:Condition" type="itsgml:LaneSpecificConditionType"/>
  <complexType name="LaneSpecificConditionType">
    <complexContent>
      <extension base="itsgml:ConditionType">
        <sequence>
          <element minOccurs="0" name="laneNumber" type="integer"/>
          <element minOccurs="0" name="laneNumberTraffic" type="integer"/>
          <element minOccurs="0" name="laneUsage"/>
          <element minOccurs="0" name="trafficFlowDirection"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LaneSpecificConditionPropertyType">
    <sequence>
      <element ref="itsgml:LaneSpecificCondition"/>
    </sequence>
  </complexType>
  <element name="LengthCharacteristic" substitutionGroup="gml:AbstractObject" type="itsgml:LengthCharacteristicType"/>
  <complexType name="LengthCharacteristicType">
    <sequence>
      <element name="comparisonOperator"/>
      <element name="vehicleLength" type="gml:MeasureType"/>
    </sequence>
  </complexType>
  <complexType name="LengthCharacteristicPropertyType">
    <sequence>
      <element ref="itsgml:LengthCharacteristic"/>
    </sequence>
  </complexType>
  <element name="NumberOfAxlesCharacteristic" substitutionGroup="gml:AbstractObject" type="itsgml:NumberOfAxlesCharacteristicType"/>
  <complexType name="NumberOfAxlesCharacteristicType">
    <sequence>
      <element name="comparisonOperator"/>
      <element name="numberOfAxles" type="integer"/>
    </sequence>
  </complexType>
  <complexType name="NumberOfAxlesCharacteristicPropertyType">
    <sequence>
      <element ref="itsgml:NumberOfAxlesCharacteristic"/>
    </sequence>
  </complexType>
  <element name="OverallPeriod" substitutionGroup="gml:AbstractObject" type="itsgml:OverallPeriodType"/>
  <complexType name="OverallPeriodType">
    <sequence>
      <element name="overallStartTime" type="dateTime"/>
      <element minOccurs="0" name="overallEndTime" type="dateTime"/>
      <element maxOccurs="unbounded" minOccurs="0" name="validPeriod" type="itsgml:PeriodPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="exceptionPeriod" type="itsgml:PeriodPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="OverallPeriodPropertyType">
    <sequence>
      <element ref="itsgml:OverallPeriod"/>
    </sequence>
  </complexType>
  <element name="Period" substitutionGroup="gml:AbstractObject" type="itsgml:PeriodType"/>
  <complexType name="PeriodType">
    <sequence>
      <element minOccurs="0" name="startOfPeriod" type="dateTime"/>
      <element minOccurs="0" name="endOfPeriod" type="dateTime"/>
      <element minOccurs="0" name="periodName" type="string"/>
      <element maxOccurs="unbounded" minOccurs="0" name="recurringDayWeekMonthPeriod" type="itsgml:DayWeekMonthPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="recurringFuzzyTimePeriod" type="itsgml:FuzzyTimePeriodPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="recurringTimePeriodOfDay" type="itsgml:TimePeriodOfDayPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="recurringSpecialDay" type="itsgml:SpecialDayPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="PeriodPropertyType">
    <sequence>
      <element ref="itsgml:Period"/>
    </sequence>
  </complexType>
  <element name="PublicHoliday" substitutionGroup="itsgml:SpecialDay" type="itsgml:PublicHolidayType"/>
  <complexType name="PublicHolidayType">
    <complexContent>
      <extension base="itsgml:SpecialDayType">
        <sequence>
          <element name="publicHolidayName" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PublicHolidayPropertyType">
    <sequence>
      <element ref="itsgml:PublicHoliday"/>
    </sequence>
  </complexType>
  <element name="RoadSpecificCondition" substitutionGroup="itsgml:Condition" type="itsgml:RoadSpecificConditionType"/>
  <complexType name="RoadSpecificConditionType">
    <complexContent>
      <extension base="itsgml:ConditionType">
        <sequence>
          <element minOccurs="0" name="roadCategory" type="gml:CodeType"/>
          <element minOccurs="0" name="roadName" type="string"/>
          <element minOccurs="0" name="roadNumber" type="integer"/>
          <element minOccurs="0" name="numberOfCarriageways" type="integer"/>
          <element minOccurs="0" name="referenceDirectionBearing" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="carriageway" type="itsgml:CarriagewaySpecificConditionPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadSpecificConditionPropertyType">
    <sequence>
      <element ref="itsgml:RoadSpecificCondition"/>
    </sequence>
  </complexType>
  <element name="SpecialDay" substitutionGroup="gml:AbstractObject" type="itsgml:SpecialDayType"/>
  <complexType name="SpecialDayType">
    <sequence>
      <element name="intersectWithApplicableDays" type="boolean"/>
      <element name="specialDayType" type="gml:CodeType"/>
      <element minOccurs="0" name="publicEvent" type="string"/>
    </sequence>
  </complexType>
  <complexType name="SpecialDayPropertyType">
    <sequence>
      <element ref="itsgml:SpecialDay"/>
    </sequence>
  </complexType>
  <element name="TimeCondition" substitutionGroup="itsgml:Condition" type="itsgml:TimeConditionType"/>
  <complexType name="TimeConditionType">
    <complexContent>
      <extension base="itsgml:ConditionType">
        <sequence>
          <element name="validityPeriod" type="itsgml:ValidityPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeConditionPropertyType">
    <sequence>
      <element ref="itsgml:TimeCondition"/>
    </sequence>
  </complexType>
  <element name="TimePeriodOfDay" substitutionGroup="gml:AbstractObject" type="itsgml:TimePeriodOfDayType"/>
  <complexType name="TimePeriodOfDayType">
    <sequence>
      <element name="startTimeOfPeriod" type="time"/>
      <element name="endTimeOfPeriod" type="time"/>
    </sequence>
  </complexType>
  <complexType name="TimePeriodOfDayPropertyType">
    <sequence>
      <element ref="itsgml:TimePeriodOfDay"/>
    </sequence>
  </complexType>
  <element name="Validity" substitutionGroup="gml:AbstractObject" type="itsgml:ValidityType"/>
  <complexType name="ValidityType">
    <sequence>
      <element name="validityTimeSpecification" type="itsgml:OverallPeriodPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="ValidityPropertyType">
    <sequence>
      <element ref="itsgml:Validity"/>
    </sequence>
  </complexType>
  <element name="VehicleCharacteristics" substitutionGroup="gml:AbstractObject" type="itsgml:VehicleCharacteristicsType"/>
  <complexType name="VehicleCharacteristicsType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="fuelType" type="gml:CodeType"/>
      <element minOccurs="0" name="loadType" type="gml:CodeType"/>
      <element minOccurs="0" name="vehicleEquipment" type="gml:CodeType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="vehicleType" type="gml:CodeType"/>
      <element minOccurs="0" name="vehicleUsage" type="gml:CodeType"/>
      <element minOccurs="0" name="yearOfFirstRegistration" type="integer"/>
      <element maxOccurs="unbounded" minOccurs="0" name="heaviestAxleWeightCharacteristic" type="itsgml:HeaviestAxleWeightCharacteristicPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="grossWeightCharacteristic" type="itsgml:GrossWeightCharacteristicPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="numberOfAxlesCharacteristic" type="itsgml:NumberOfAxlesCharacteristicPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="lengthCharacteristic" type="itsgml:LengthCharacteristicPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="emissions" type="itsgml:EmissionsPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="widthCharacteristic" type="itsgml:WidthCharacteristicPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="heightCharacteristic" type="itsgml:HeightCharacteristicPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="VehicleCharacteristicsPropertyType">
    <sequence>
      <element ref="itsgml:VehicleCharacteristics"/>
    </sequence>
  </complexType>
  <element name="VehicleCondition" substitutionGroup="itsgml:Condition" type="itsgml:VehicleConditionType"/>
  <complexType name="VehicleConditionType">
    <complexContent>
      <extension base="itsgml:ConditionType">
        <sequence>
          <element name="vehicleCharacteristics" type="itsgml:VehicleCharacteristicsPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VehicleConditionPropertyType">
    <sequence>
      <element ref="itsgml:VehicleCondition"/>
    </sequence>
  </complexType>
  <element name="WeatherCondition" substitutionGroup="itsgml:Condition" type="itsgml:WeatherConditionType"/>
  <complexType name="WeatherConditionType">
    <complexContent>
      <extension base="itsgml:ConditionType">
        <sequence>
          <element name="weatherType" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WeatherConditionPropertyType">
    <sequence>
      <element ref="itsgml:WeatherCondition"/>
    </sequence>
  </complexType>
  <element name="WidthCharacteristic" substitutionGroup="gml:AbstractObject" type="itsgml:WidthCharacteristicType"/>
  <complexType name="WidthCharacteristicType">
    <sequence>
      <element name="comparisonOperator"/>
      <element name="vehicleWidth" type="gml:MeasureType"/>
    </sequence>
  </complexType>
  <complexType name="WidthCharacteristicPropertyType">
    <sequence>
      <element ref="itsgml:WidthCharacteristic"/>
    </sequence>
  </complexType>
</schema>
