XSD/itsfcm.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco"
  xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2"
  xmlns:gmx="http://www.isotc211.org/2005/gmx"
  xmlns:itsgml="https://raw.githubusercontent.com/jetgeo/ITSGML/master/XSD"
  elementFormDefault="qualified"
  targetNamespace="https://raw.githubusercontent.com/jetgeo/ITSGML/master/XSD" version="0.1">
  <import namespace="http://www.isotc211.org/2005/gco"
    schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd"
    schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmx"
    schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmx/gmx.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2"
    schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="Catalogue" substitutionGroup="gml:AbstractFeature"
    type="itsgml:CatalogueType"/>
  <complexType abstract="true" name="CatalogueType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="name" type="string"/>
          <element maxOccurs="unbounded" name="scope" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="fieldOfApplication" type="string"/>
          <element name="versionNumber" type="string"/>
          <element name="versionDate" type="date"/>
          <element minOccurs="0" name="language" type="string"/>
          <element minOccurs="0" name="characterSet" type="gmd:MD_CharacterSetCode_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="locale"
            type="gmd:PT_Locale_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="subCatalogue"
            type="gmx:CT_Catalogue_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CataloguePropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:Catalogue"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AssociationRole" substitutionGroup="itsgml:PropertyType"
    type="itsgml:AssociationRoleType"/>
  <complexType name="AssociationRoleType">
    <complexContent>
      <extension base="itsgml:PropertyTypeType">
        <sequence>
          <element name="type" type="itsgml:RoleTypeType"/>
          <element name="isOrdered" type="boolean"/>
          <element name="isNavigable" type="boolean"/>
          <element name="rolePlayer" type="itsgml:FeatureTypePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AssociationRolePropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:AssociationRole"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="DataType" substitutionGroup="itsgml:FeatureType"
    type="itsgml:DataTypeType"/>
  <complexType name="DataTypeType">
    <complexContent>
      <extension base="itsgml:FeatureTypeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DataTypePropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:DataType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureAssociation" substitutionGroup="itsgml:FeatureType"
    type="itsgml:FeatureAssociationType"/>
  <complexType name="FeatureAssociationType">
    <complexContent>
      <extension base="itsgml:FeatureTypeType">
        <sequence>
          <element maxOccurs="2" minOccurs="2" name="roleName">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="itsgml:AssociationRole"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureAssociationPropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:FeatureAssociation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureAttribute" substitutionGroup="itsgml:PropertyType"
    type="itsgml:FeatureAttributeType"/>
  <complexType name="FeatureAttributeType">
    <complexContent>
      <extension base="itsgml:PropertyTypeType">
        <sequence>
          <element minOccurs="0" name="code" type="string"/>
          <element minOccurs="0" name="valueMeasurementUnit" type="gml:UnitOfMeasureType"/>
          <element minOccurs="0" name="valueType"/>
          <element minOccurs="0" name="dataType" type="itsgml:DataTypePropertyType"/>
          <element minOccurs="0" name="valueDomain" type="itsgml:ValueDomainPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureAttributePropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:FeatureAttribute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureCatalogue" substitutionGroup="gmx:AbstractCT_Catalogue"
    type="itsgml:FeatureCatalogueType"/>
  <complexType name="FeatureCatalogueType">
    <complexContent>
      <extension base="gmx:AbstractCT_Catalogue_Type">
        <sequence>
          <element name="producer"/>
          <element minOccurs="0" name="functionalLanguage" type="string"/>
          <element minOccurs="0" name="identifier" type="gmd:MD_Identifier_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="valueDomain">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="itsgml:ValueDomain"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="globalProperty">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="itsgml:PropertyType"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="classifier">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="itsgml:FeatureType"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureCataloguePropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:FeatureCatalogue"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureType" substitutionGroup="gml:AbstractFeature"
    type="itsgml:FeatureTypeType"/>
  <complexType name="FeatureTypeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="typeName" type="gml:CodeType"/>
          <element minOccurs="0" name="definition" type="string"/>
          <element minOccurs="0" name="code" type="string"/>
          <element name="isAbstract" type="boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="aliases" type="gml:CodeType"/>
          <element minOccurs="0" name="designation" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inheritsFrom"
            type="itsgml:FeatureTypePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="property">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="itsgml:PropertyType"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureTypePropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:FeatureType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ListedValue" substitutionGroup="gml:AbstractFeature"
    type="itsgml:ListedValueType"/>
  <complexType name="ListedValueType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="label" type="string"/>
          <element minOccurs="0" name="code" type="string"/>
          <element minOccurs="0" name="definition" type="string"/>
          <element minOccurs="0" name="designation" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ListedValuePropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:ListedValue"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="PropertyType" substitutionGroup="gml:AbstractFeature"
    type="itsgml:PropertyTypeType"/>
  <complexType abstract="true" name="PropertyTypeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="memberName" type="gml:CodeType"/>
          <element minOccurs="0" name="definition" type="string"/>
          <element name="cardinality" type="gco:Multiplicity_PropertyType"/>
          <element minOccurs="0" name="designation" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PropertyTypePropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:PropertyType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RoleTypeType">
    <union memberTypes="itsgml:RoleTypeEnumerationType itsgml:RoleTypeOtherType"/>
  </simpleType>
  <simpleType name="RoleTypeEnumerationType">
    <restriction base="string">
      <enumeration value="ordinary"/>
      <enumeration value="aggregation"/>
      <enumeration value="composition"/>
    </restriction>
  </simpleType>
  <simpleType name="RoleTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="ValueDomain" substitutionGroup="gml:AbstractFeature"
    type="itsgml:ValueDomainType"/>
  <complexType name="ValueDomainType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="typeName" type="gml:CodeType"/>
          <element minOccurs="0" name="definition" type="string"/>
          <element minOccurs="0" name="code" type="string"/>
          <element minOccurs="0" name="designation" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="listedValue"
            type="itsgml:ListedValuePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ValueDomainPropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:ValueDomain"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
