XSD/ITSGML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
  xmlns:itsgml="https://raw.githubusercontent.com/jetgeo/ITSGML/master/XSD"
  elementFormDefault="qualified"
  targetNamespace="https://raw.githubusercontent.com/jetgeo/ITSGML/master/XSD" version="0.1">
  <include schemaLocation="itsfcm.xsd"/>
  <include schemaLocation="network.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2"
    schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AgoraLocationReference" substitutionGroup="itsgml:DynamicLocationReference"
    type="itsgml:AgoraLocationReferenceType"/>
  <complexType name="AgoraLocationReferenceType">
    <complexContent>
      <extension base="itsgml:DynamicLocationReferenceType">
        <sequence>
          <element name="base64String" type="string"/>
          <element name="agoraBinaryVersion" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AgoraLocationReferencePropertyType">
    <sequence>
      <element ref="itsgml:AgoraLocationReference"/>
    </sequence>
  </complexType>
  <element name="BinaryLocationReference" substitutionGroup="gml:AbstractObject"
    type="itsgml:BinaryLocationReferenceType"/>
  <complexType name="BinaryLocationReferenceType">
    <sequence>
      <element name="base64String" type="string"/>
      <element name="openLRBinaryVersion" type="gml:CodeType"/>
    </sequence>
  </complexType>
  <complexType name="BinaryLocationReferencePropertyType">
    <sequence>
      <element ref="itsgml:BinaryLocationReference"/>
    </sequence>
  </complexType>
  <element abstract="true" name="DynamicLocationReference"
    substitutionGroup="itsgml:LocationReference" type="itsgml:DynamicLocationReferenceType"/>
  <complexType abstract="true" name="DynamicLocationReferenceType">
    <complexContent>
      <extension base="itsgml:LocationReferenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DynamicLocationReferencePropertyType">
    <sequence>
      <element ref="itsgml:DynamicLocationReference"/>
    </sequence>
  </complexType>
  <element name="Feature" substitutionGroup="gml:AbstractFeature" type="itsgml:FeatureType"/>
  <complexType name="FeatureType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="typeName" type="gml:CodeType">
            <annotation>
              <documentation>text string that uniquely identifies this feature type within the
                feature catalogue that contains this feature type</documentation>
            </annotation>
          </element>
          <element name="validFrom" type="date" nillable="true"/>
          <element minOccurs="0" name="validTo" type="date"/>
          <element name="beginLifespanVersion" type="dateTime" nillable="true">
            <annotation>
              <documentation>Date and time at which this version of the spatial object was inserted
                or changed in the spatial data set.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime">
            <annotation>
              <documentation>Date and time at which this version of the spatial object was
                superseded or retired in the spatial data set.</documentation>
            </annotation>
          </element>
          <element name="featureTypeReference" type="itsgml:FeatureTypePropertyType"/>
          <element maxOccurs="unbounded" name="locationReference"
            type="itsgml:LocationReferencePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="property"
            type="itsgml:GenericFeaturePropertyPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeaturePropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:Feature"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureSet" substitutionGroup="gml:AbstractFeature" type="itsgml:FeatureSetType"/>
  <complexType name="FeatureSetType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="defaultLRM">
            <annotation>
              <documentation>Default linear referencing method to be used in the data
                set.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="feature">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="itsgml:Feature"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureSetPropertyType">
    <sequence minOccurs="0">
      <element ref="itsgml:FeatureSet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GenericFeatureProperty" substitutionGroup="gml:AbstractObject"
    type="itsgml:GenericFeaturePropertyType"/>
  <complexType name="GenericFeaturePropertyType">
    <sequence>
      <element name="memberName" type="gml:CodeType">
        <annotation>
          <documentation>member name that locates this member within a feature type for a local
            property or within the feature catalogue for a global property</documentation>
        </annotation>
      </element>
      <element name="propertyStructure" type="itsgml:PropertyStructureType"/>
      <element name="propertyTypeReference" type="itsgml:PropertyTypePropertyType"/>
      <element minOccurs="0" name="value" type="string"/>
      <element minOccurs="0" name="unitOfMeasure" type="string"/>
      <element minOccurs="0" name="valueReference" type="gml:ReferenceType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="subproperty"
        type="itsgml:GenericFeaturePropertyPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="GenericFeaturePropertyPropertyType">
    <sequence>
      <element ref="itsgml:GenericFeatureProperty"/>
    </sequence>
  </complexType>
  <element name="GeometryLocationReference" substitutionGroup="itsgml:LocationReference"
    type="itsgml:GeometryLocationReferenceType"/>
  <complexType name="GeometryLocationReferenceType">
    <complexContent>
      <extension base="itsgml:LocationReferenceType">
        <sequence>
          <element name="encodedGeometry" type="gml:GeometricPrimitivePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeometryLocationReferencePropertyType">
    <sequence>
      <element ref="itsgml:GeometryLocationReference"/>
    </sequence>
  </complexType>
  <element name="LR_DistanceExpression" substitutionGroup="gml:AbstractObject"
    type="itsgml:LR_DistanceExpressionType"/>
  <complexType name="LR_DistanceExpressionType">
    <sequence>
      <element name="distanceAlong" type="gml:MeasureType"/>
    </sequence>
  </complexType>
  <complexType name="LR_DistanceExpressionPropertyType">
    <sequence>
      <element ref="itsgml:LR_DistanceExpression"/>
    </sequence>
  </complexType>
  <element name="LinearLocationReference" substitutionGroup="itsgml:PreCodedLocationReference"
    type="itsgml:LinearLocationReferenceType"/>
  <complexType name="LinearLocationReferenceType">
    <complexContent>
      <extension base="itsgml:PreCodedLocationReferenceType">
        <sequence>
          <element minOccurs="0" name="name" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element maxOccurs="unbounded" name="networkReference"
            type="itsgml:NetworkReferencePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LinearLocationReferencePropertyType">
    <sequence>
      <element ref="itsgml:LinearLocationReference"/>
    </sequence>
  </complexType>
  <simpleType name="LinkDirectionValueType">
    <annotation>
      <documentation>-- Definition -- List of values for directions relative to a
        link</documentation>
    </annotation>
    <union memberTypes="itsgml:LinkDirectionValueEnumerationType itsgml:LinkDirectionValueOtherType"
    />
  </simpleType>
  <simpleType name="LinkDirectionValueEnumerationType">
    <annotation>
      <documentation>-- Definition -- List of values for directions relative to a
        link</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bothDirections">
        <annotation>
          <documentation>-- Definition -- In both directions.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="inDirection">
        <annotation>
          <documentation>-- Definition -- In direction of the link.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="inOppositeDirection">
        <annotation>
          <documentation>-- Definition -- In the opposite direction of the link.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LinkDirectionValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="LinkReference" substitutionGroup="itsgml:NetworkReference"
    type="itsgml:LinkReferenceType">
    <annotation>
      <documentation>A network reference to a linear network element.</documentation>
    </annotation>
  </element>
  <complexType name="LinkReferenceType">
    <complexContent>
      <extension base="itsgml:NetworkReferenceType">
        <sequence>
          <element name="applicableDirection" type="itsgml:LinkDirectionValueType">
            <annotation>
              <documentation>The directions of the link to which the reference applies. In cases
                where a property does not apply &lt;i>to&lt;/i> a direction along a link, but
                represents a phenomenon &lt;i>along&lt;/i> a link, “inDirection” refers to the right
                side in the direction of the link.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LinkReferencePropertyType">
    <sequence>
      <element ref="itsgml:LinkReference"/>
    </sequence>
  </complexType>
  <element name="LocationByExternalReference" substitutionGroup="itsgml:PreCodedLocationReference"
    type="itsgml:LocationByExternalReferenceType"/>
  <complexType name="LocationByExternalReferenceType">
    <complexContent>
      <extension base="itsgml:PreCodedLocationReferenceType">
        <sequence>
          <element name="predefinedLocationReference" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocationByExternalReferencePropertyType">
    <sequence>
      <element ref="itsgml:LocationByExternalReference"/>
    </sequence>
  </complexType>
  <element abstract="true" name="LocationReference" substitutionGroup="gml:AbstractObject"
    type="itsgml:LocationReferenceType"/>
  <complexType abstract="true" name="LocationReferenceType">
    <sequence/>
  </complexType>
  <complexType name="LocationReferencePropertyType">
    <sequence>
      <element ref="itsgml:LocationReference"/>
    </sequence>
  </complexType>
  <element name="NetworkReference" substitutionGroup="gml:AbstractObject"
    type="itsgml:NetworkReferenceType">
    <annotation>
      <documentation>A reference to a network element.</documentation>
    </annotation>
  </element>
  <complexType name="NetworkReferenceType">
    <sequence>
      <element minOccurs="0" name="overridingLRM">
        <annotation>
          <documentation>linear referencing method overriding defalult method for the data
            set</documentation>
        </annotation>
      </element>
      <element name="element" type="itsgml:NetworkElementPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="NetworkReferencePropertyType">
    <sequence>
      <element ref="itsgml:NetworkReference"/>
    </sequence>
  </complexType>
  <element name="OpenLRLocationReference" substitutionGroup="itsgml:DynamicLocationReference"
    type="itsgml:OpenLRLocationReferenceType"/>
  <complexType name="OpenLRLocationReferenceType">
    <complexContent>
      <extension base="itsgml:DynamicLocationReferenceType">
        <sequence>
          <element minOccurs="0" name="binaryLocationReference"
            type="itsgml:BinaryLocationReferencePropertyType"/>
          <element minOccurs="0" name="xMLLocationReference"
            type="itsgml:XMLLocationReferencePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OpenLRLocationReferencePropertyType">
    <sequence>
      <element ref="itsgml:OpenLRLocationReference"/>
    </sequence>
  </complexType>
  <element abstract="true" name="PreCodedLocationReference"
    substitutionGroup="itsgml:LocationReference" type="itsgml:PreCodedLocationReferenceType"/>
  <complexType abstract="true" name="PreCodedLocationReferenceType">
    <complexContent>
      <extension base="itsgml:LocationReferenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PreCodedLocationReferencePropertyType">
    <sequence>
      <element ref="itsgml:PreCodedLocationReference"/>
    </sequence>
  </complexType>
  <simpleType name="PropertyStructureType">
    <union memberTypes="itsgml:PropertyStructureEnumerationType itsgml:PropertyStructureOtherType"/>
  </simpleType>
  <simpleType name="PropertyStructureEnumerationType">
    <restriction base="string">
      <enumeration value="simple"/>
      <enumeration value="complex"/>
      <enumeration value="listedValue"/>
      <enumeration value="association"/>
    </restriction>
  </simpleType>
  <simpleType name="PropertyStructureOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="SimpleLinearReference" substitutionGroup="itsgml:LinkReference"
    type="itsgml:SimpleLinearReferenceType">
    <annotation>
      <documentation>A network reference that is restricted to part of a linear network element. The
        part is the part of the network element between fromPosition and toPosition.</documentation>
    </annotation>
  </element>
  <complexType name="SimpleLinearReferenceType">
    <complexContent>
      <extension base="itsgml:LinkReferenceType">
        <sequence>
          <element name="fromPosition" type="itsgml:LR_DistanceExpressionPropertyType">
            <annotation>
              <documentation>The start position of the linear element, expressed as the distance
                along the linear network element.</documentation>
            </annotation>
          </element>
          <element name="toPosition" type="itsgml:LR_DistanceExpressionPropertyType">
            <annotation>
              <documentation>The end position of the linear element, expressed as the distance along
                the linear network element.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SimpleLinearReferencePropertyType">
    <sequence>
      <element ref="itsgml:SimpleLinearReference"/>
    </sequence>
  </complexType>
  <element name="SimplePointReference" substitutionGroup="itsgml:LinkReference"
    type="itsgml:SimplePointReferenceType">
    <annotation>
      <documentation>A network reference that is restricted to a point on a linear network element.
        The point is the location on the network element at the position atPosition along the
        network.</documentation>
    </annotation>
  </element>
  <complexType name="SimplePointReferenceType">
    <complexContent>
      <extension base="itsgml:LinkReferenceType">
        <sequence>
          <element name="atPosition" type="itsgml:LR_DistanceExpressionPropertyType">
            <annotation>
              <documentation>Position of the point, expressed as the distance along the linear
                network element.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SimplePointReferencePropertyType">
    <sequence>
      <element ref="itsgml:SimplePointReference"/>
    </sequence>
  </complexType>
  <element name="XMLLocationReference" substitutionGroup="gml:AbstractObject"
    type="itsgml:XMLLocationReferenceType"/>
  <complexType name="XMLLocationReferenceType">
    <sequence/>
  </complexType>
  <complexType name="XMLLocationReferencePropertyType">
    <sequence>
      <element ref="itsgml:XMLLocationReference"/>
    </sequence>
  </complexType>
</schema>
