XSD/RoadFeatures.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tnits="https://raw.githubusercontent.com/jetgeo/ITSGML/master/XSD" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/jetgeo/ITSGML/master/XSD" version="2018-01">
  <include schemaLocation="Conditions.xsd"/>
  <include schemaLocation="LocationReferencing.xsd"/>
  <include schemaLocation="itsgml.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Feature" substitutionGroup="gml:AbstractFeature" type="tnits:FeatureType"/>
  <complexType name="FeatureType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="validFrom" type="date"/>
          <element minOccurs="0" name="validTo" type="date"/>
          <element name="beginLifespanVersion" type="dateTime">
            <annotation>
              <documentation>Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime">
            <annotation>
              <documentation>Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="locationReference" type="tnits:LocationReferencePropertyType"/>
          <element name="featureTypeReference" type="itsgml:FC_FeatureTypePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="property" type="tnits:FeatureCharacteristicsPropertyType"/>
          <element minOccurs="0" name="condition" type="tnits:ConditionPropertyType"/>
          <element name="id" type="tnits:RoadFeatureIdPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeaturePropertyType">
    <sequence minOccurs="0">
      <element ref="tnits:Feature"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FeatureCharacteristics" substitutionGroup="gml:AbstractObject" type="tnits:FeatureCharacteristicsType"/>
  <complexType name="FeatureCharacteristicsType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="value">
        <complexType>
          <sequence minOccurs="0">
            <element ref="gml:AbstractObject"/>
          </sequence>
          <attributeGroup ref="gml:AssociationAttributeGroup"/>
        </complexType>
      </element>
      <element name="propertyTypeReference" type="itsgml:FC_PropertyTypePropertyType"/>
    </sequence>
  </complexType>
  <complexType name="FeatureCharacteristicsPropertyType">
    <sequence>
      <element ref="tnits:FeatureCharacteristics"/>
    </sequence>
  </complexType>
  <element name="FeatureSet" substitutionGroup="gml:AbstractFeature" type="tnits:FeatureSetType"/>
  <complexType name="FeatureSetType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="defaultLRM">
            <annotation>
              <documentation>Default linear referencing method to be used in the data set.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="roadFeatures">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="tnits:Feature"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureSetPropertyType">
    <sequence minOccurs="0">
      <element ref="tnits:FeatureSet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadFeatureId" substitutionGroup="gml:AbstractObject" type="tnits:RoadFeatureIdType"/>
  <complexType name="RoadFeatureIdType">
    <sequence>
      <element name="providerId" type="string"/>
      <element name="id" type="string"/>
    </sequence>
  </complexType>
  <complexType name="RoadFeatureIdPropertyType">
    <sequence>
      <element ref="tnits:RoadFeatureId"/>
    </sequence>
  </complexType>
</schema>
